<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yw.custommutilimageadapter">
    <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 允许访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许修改网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>

    <!-- 允许修改wifi状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--折叠掩盖布局展示，支持横向纵向以及任意位置布局全部露出-->
        <activity android:name=".ui.FoldLayoutViewActivity" />
        <!--  固定多个不规则布局展示      -->
        <activity
            android:name=".ui.CustomMutilImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FoldCardViewLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyScrollViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EditTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BlurAlphaViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ArcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProgressLoopBackgroundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TrunTheCellAlphaViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskProgressBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CircleProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ZXingDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SpeedBarViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HalfAlphaOpacityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TiktokVideoLoaddingViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DownLoadViewActivity"
            android:label="下载视频" />
        <activity
            android:name=".ui.GoodsPriceActivity"
            android:label="商品价格显示" />
        <activity
            android:name=".ui.TagPaddingViewActivity"
            android:label="标签Label" />
        <activity android:name=".ui.TextViewPartTextColorActivity"
            android:label="改变部分字体颜色"/>
        <activity android:name=".ui.CustomShapeDrawableActivity" android:label="自定义Shape"/>
        <activity android:name=".ui.TransAnimitActivity" android:label="属性动画"/>
        <activity android:name=".ui.WebRTCActivity" android:label="WebRTC测试"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>